@import url('./typekit.css');

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/6f3d39/00000000000000003b9b21e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/6f3d39/00000000000000003b9b21e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/6f3d39/00000000000000003b9b21e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('opentype');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/ae5ca6/00000000000000003b9b21e8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/ae5ca6/00000000000000003b9b21e8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/ae5ca6/00000000000000003b9b21e8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('opentype');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'ibm-plex-mono';
  src: url('https://use.typekit.net/af/519c62/00000000000000003b9b21ec/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/519c62/00000000000000003b9b21ec/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/519c62/00000000000000003b9b21ec/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-style: italic;
  font-weight: 700;
}
.tk-ibm-plex-mono {
  font-family: 'ibm-plex-mono', sans-serif;
}
